.blurb.bright
  .row
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        Logout
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "/user/index/logout",:title=>"logout"} Logout
        %li
          %a{:href=>"/user/index/close_sesion",:title=>"Close sesion"} Logout Google
    .col-md-6.col-md-offset-3.text-center
      %h1{:style => "margin-top:-5%",:id => "usu"} #{@user}
      %h4 My Short List
      URLs (label)
      %br
      %br
      %ol{:id=>"mylinks"}
        - if (@list.length == 0)
          %p EMPTY LIST
        - else
          - @list.each do |url|
            %li
              #{url.url}
              - if (url.label == '')
                %a{:href=>"/user/index/#{url.id.to_s(Base)}",:title=>"#{url.url}",:id=>"myidgo"} (#{url.id.to_s(Base)})
              - else
                %a{:href=>"/user/index/#{url.label}",:title=>"#{url.url}",:id=>"mylabelgo"} (#{url.label})
              %form{:name=>"delete",:action=>"/user/index/del/#{url.id.to_s(Base)}",:method=>"post"}
                %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"delete"}Borrar
        %br
        %div{:style=>"margin-bottom:-13%"}
          %form{:name=>"deleteall",:action=>"/user/index/del/all",:method=>"post"}
            %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"deleteall"}Borrar Todo
%div{:style=>"text-align:center"}
  Shorten this:
  %form{:name=> "input" , :action=>"/user/index",:method=>"POST"}
    %label{:for=>"url"}
    %input{:type=>"text",:name=>"url",:id=>"myurl",:autofocus => "",:size=>"50"}
    %input.btn.btn-default{:type=>"submit",:value=>"Make it",:id=>"makeit"}
    %br
    to &#47;
    %label{:for=>"label"}
    %input{:type=>"text",:name=>"label",:id=>"mylabel",:autofocus=>"",:size=>"15"}
    (opcional)
