.blurb.bright
  .row
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        Logout
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "/user/index/logout",:title=>"logout"} Logout
        %li
          %a{:href=>"https://accounts.google.com/Logout",:title=>"Close sesion"} Logout Google
        %li
          %a{:href=>"https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fn%2F%3Fhome.php%26clk_loc%3D5%26mid%3D72b01a8G5af400143243G0Gd4%26bcode%3D1.1354826874.AbllucLcWqHQbSNM%26n_m%3D",:title=>"Close sesion"} Logout Facebook
    .col-md-6.col-md-offset-3.text-center
      %h1{:style => "margin-top:-10%",:id => "usu"} #{@user}
      %h4 My Short List
      URLs (label)
      %br
      %br
      %ol#mylinks
        - if (@list.length == 0)
          %p#empty EMPTY LIST
        - else
          - @list.each do |url|
            %li
              #{url.url}
              - if (url.label == '')
                %a{:href=>"/user/index/#{url.id.to_s(Base)}",:title=>"#{url.url}",:id=>"myidgo"} (#{url.id.to_s(Base)})
              - else
                %a{:href=>"/user/index/#{url.label}",:title=>"#{url.url}",:id=>"mylabelgo"} (#{url.label})
              %a.btn.btn-default{:href => "/user/index/mystatistics/#{url.id.to_s(Base)}", :role => "button",:title=>"Ver estadisticas",:id=>"estadisticas"} Estadísticas
              %form{:name=>"delete",:action=>"/user/index/del/#{url.id.to_s(Base)}",:method=>"post"}
                %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"delete"}Borrar
          %br
          %br
          %div{:style=>"margin-bottom:-13%"}
            %form{:name=>"deleteall",:action=>"/user/index/del/all",:method=>"post"}
              %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"deleteall"}Borrar Todo
%div.text-center
  Shorten this:
  %form{:name=> "input" , :action=>"/user/index",:method=>"POST"}
    %label{:for=>"url"}
    %input{:type=>"text",:name=>"url",:id=>"myurl",:autofocus => "",:size=>"50"}
    %input.btn.btn-default{:type=>"submit",:value=>"Make it",:id=>"makeit"}
    %br
    to &#47;
    %label{:for=>"label"}
    %input{:type=>"text",:name=>"label",:id=>"mylabel",:autofocus=>"",:size=>"15"}
    (opcional)
