.blurb.bright
  .row
    .col-md-6.col-md-offset-3.text-center
      %h1{:style => "margin-top:-10%",:id => "usu"} #{@user}
      %h4 My Short List
      URLs (label)
      %br
      %br
      %ol#mylinks
        - if (@list.length == 0)
          %p#empty EMPTY LIST
        - else
          - @list.each do |url|
            %li
              #{url.url}
              - if (url.label == '')
                %a{:href=>"/user/index/#{url.id.to_s(Base)}",:title=>"#{url.url}",:id=>"myidgo"} (#{url.id.to_s(Base)})
              - else
                %a{:href=>"/user/index/#{url.label}",:title=>"#{url.url}",:id=>"mylabelgo"} (#{url.label})
              %form{:name=>"delete",:action=>"/user/index/del/#{url.id.to_s(Base)}",:method=>"post"}
                %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"delete"}Borrar
          %br
          %br
          %div{:style=>"margin-bottom:-13%"}
            %form{:name=>"deleteall",:action=>"/user/index/del/all",:method=>"post"}
              %button{:type => "submit",:name=>"_method", :value=>"delete", :id=>"deleteall"}Borrar Todo
%div.text-center
  Shorten this:
  %form{:name=> "input" , :action=>"/user/index",:method=>"POST"}
    %label{:for=>"url"}
    %input{:type=>"text",:name=>"url",:id=>"myurl",:autofocus => "",:size=>"50"}
    %input.btn.btn-default{:type=>"submit",:value=>"Make it",:id=>"makeit"}
    %br
    to &#47;
    %label{:for=>"label"}
    %input{:type=>"text",:name=>"label",:id=>"mylabel",:autofocus=>"",:size=>"15"}
    (opcional)
    %br
    %br
    %br
    %a.btn.btn-default{:href => "/user/index/mystatistics", :role => "button",:title=>"Ver estadisticas",:id=>"estadisticas"} Estadísticas
%br
%div.text-right
  %a.btn.btn-primary{:href=>"/user/index/logout",:title=>"logout",:id=>"out"} Logout
  %br
  %br
  %a.btn.btn-primary{:href=>"/user/index/close_sesion",:title=>"Close sesion",:id=>"close"} Close Google Session
