%h1.text-center Estadisticas
%br
%ol#mylinks.text-center
  - if (@list!=nil)
    - if (@list.length == 0)
      %p#empty EMPTY LIST
    - else
      %h2 #{@url.url}
      %br
      %ul.bxslider
        %li
          %h4 Visitas por día
          = column_chart @date
        %li
          %h4 Visitas por día
          = bar_chart @date
        %li
          %h4 Visitas por país
          = pie_chart @country
        %li
          %h4 Visitas por país
          = geo_chart @country
%br
%div.text-center
  %a.btn.btn-info{:href => "/", :role => "button"} Volver
